$col:black;
$tam:100%;
$peso:("lig":300, "reg":400, "med":500, "bol":700);
$bgTit:#373935;
$med:center;
$colTit:white;
$bgBtnCol:#403a3a;
$bgBtnColH:#ced5b6;
$btnCol:#a8a5a5;
$btnTxtCol:#e5ff2f;
$mp:5%;
$mm:10%;
$bRad:5px;
$remi:1rem;
$bgGrid:#eaf0e0;
