@import "var";
@import "mix";


@each $k, $v in $peso{
	.ubu#{$k}{
		font-family: 'Ubuntu', sans-serif;
		font-weight: $v;
	}
}
@each $k, $v in $peso{
	.work#{$k}{
		font-family:"Work Sans",sans-serif;
		font-weight: $v;
	}
}
.header{
	width: 98%;
	background-color:black;
	margin-left: 1%;
	margin-top: 1%;
	border-radius: 1rem;
	display:flex;

}
body{
	margin:0px;
	padding:0px;
	background-color: #626262;
}

.titu{
	@include titu(98%);
	@include texTitu(white);
	margin-bottom:1rem;
	color:$azul;
	text-shadow: -1px 1px 1px white;
}
.conte{
	display:flex;
	width:90%;
	margin-left:5%;
	flex-wrap:wrap;
}

.box{
	@include box(25%);
}
.boxImg {
	@extend .box;
	img{
		width:90%;
		margin-top:.5rem;
		margin-bottom:.5rem;
	}
}
.boxText{
	@include box(75%);

}
.boxText{
	@extend .box;
	p{
		text-align:center;
		margin-left:1rem;
		margin-right:1rem;
		padding-top:1rem;
		line-height:1.5rem;
		word-spacing:0.3rem;
		font-size:1.4rem;
		color:$azul;
	}
}
.bot{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}
.hambu{
	background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.txtColor{
	color:white;
	text-shadow: -1px -2px 1px black;
	font-size: 1.1rem;
}
.bgGrid{
	background-color: black;
	border-radius: $bRad;
	margin-top: 15px;
	display:flex;
}
.gridBox{
	margin-right:4%;
	margin-left:4%;
	margin-top:1%;
	margin-bottom:1%;
	border-radius: $bRad;
	color:#756cff;
	img{
 	width:10rem;
 	height: auto;
 	object-fit: fill;
 	border-radius: 50%;
	}
	h3{
		text-align:center;
		font-size:1.4rem;
	}
 	p{
		font-family: 'Work Sans', sans-serif;
		margin-left: 2%;
		margin-right: 2%;
		font-size: 1.2rem;
		font-weight:700;
		text-align:center;
		

 	}
 }
 footer{
	width: 98%;
	min-height: $mp;
	background-color: silver;
	border-radius: 0.25rem;
	text-align: $med;
	margin-right:$remi;
	margin-left: $remi;
	margin-top: $remi;
	h3{
		color:white;
		margin-bottom:.5rem;
		font-size: 2rem;

	}
}
.footer{
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	.logoFoot{
		width: 30px;
		margin-left:(3%);
		img{
			width: 100%;
		}
	}
	.textoFoot{
		margin-left: ($mm/10);
		font-size: $remi;
		color:white;
	}
}
.relleno{
	width: 90%;
	margin-left: $remi;
	margin-right: $remi;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	.box70{
		@include box(70%);
	}
	.box30{
		@include box(30%);
		img{
			width: 90%;
		}
	}
	
}

.subTituloSmall{
	font-size: 1.5rem;
	background-color:$bgTit;;
	color:$btnTxtCol; 
	text-align:center;
}
.tools{
	width: 98%;
	justify-content: center;
	background-color:white;

}
.margenIzquierdo{
	text-align: center;
}
@media (max-width: 600px) {
	.conte{
		display:column;
		width:90%;
		margin-left:5%;
	}

	.boxImg{
		@include box(60%);
		margin-left: 22%;
	}
	.boxText{
		@include box(100%);
	}

	.bgGrid{
		flex-direction:column;
	}
	.footer{
	display: inline-flex;
	justify-content: center;
	flex-wrap:wrap;
	width: 90%;
	}	
	.logoFoot{
		width: 30px;
		margin-left:(3%);
		img{
			width: 100%;
		}
	}
	.textoFoot{
		margin-left: ($mm/10);
		font-size: ($remi*1.5);
		color:white;
	}
	.relleno{
	width: 90%;
	margin-left: $remi;
	margin-right: $remi;
	display:flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	.box70{
		@include box(90%);
	}
	.box30{
		@include box(90%);
		img{
			width: 90%;
			margin-left:10%;
		}
	}
	
}
}




